["/home/smokeonline/projects/looset/projects-example/Articulate"
 "/home/smokeonline/projects/looset/projects-example/Articulate/assets"
 "/home/smokeonline/projects/looset/projects-example/Articulate/build"
 "/home/smokeonline/projects/looset/projects-example/Articulate/src"
 "/home/smokeonline/projects/looset/projects-example/Articulate/src/Articulate"
 "/home/smokeonline/projects/looset/projects-example/Articulate/src/Articulate/Components"
 "/home/smokeonline/projects/looset/projects-example/Articulate/src/Articulate/Controllers"
 "/home/smokeonline/projects/looset/projects-example/Articulate/src/Articulate/ImportExport"
 "/home/smokeonline/projects/looset/projects-example/Articulate/src/Articulate/Models"
 "/home/smokeonline/projects/looset/projects-example/Articulate/src/Articulate/Models/MetaWeblog"
 "/home/smokeonline/projects/looset/projects-example/Articulate/src/Articulate/Options"
 "/home/smokeonline/projects/looset/projects-example/Articulate/src/Articulate/Packaging"
 "/home/smokeonline/projects/looset/projects-example/Articulate/src/Articulate/Properties"
 "/home/smokeonline/projects/looset/projects-example/Articulate/src/Articulate/PropertyEditors"
 "/home/smokeonline/projects/looset/projects-example/Articulate/src/Articulate/Resources"
 "/home/smokeonline/projects/looset/projects-example/Articulate/src/Articulate/Routing"
 "/home/smokeonline/projects/looset/projects-example/Articulate/src/Articulate/Syndication"
 "/home/smokeonline/projects/looset/projects-example/Articulate/src/Articulate/Syndication/BlogML"
 "/home/smokeonline/projects/looset/projects-example/Articulate/src/Articulate.Web"
 "/home/smokeonline/projects/looset/projects-example/Articulate/src/Articulate.Web/App_Code"
 "/home/smokeonline/projects/looset/projects-example/Articulate/src/Articulate.Web/App_Plugins"
 "/home/smokeonline/projects/looset/projects-example/Articulate/src/Articulate.Web/App_Plugins/Articulate"
 "/home/smokeonline/projects/looset/projects-example/Articulate/src/Articulate.Web/App_Plugins/Articulate/Assets"
 "/home/smokeonline/projects/looset/projects-example/Articulate/src/Articulate.Web/App_Plugins/Articulate/BackOffice"
 "/home/smokeonline/projects/looset/projects-example/Articulate/src/Articulate.Web/App_Plugins/Articulate/BackOffice/ArticulateThemes"
 "/home/smokeonline/projects/looset/projects-example/Articulate/src/Articulate.Web/App_Plugins/Articulate/BackOffice/PackageOptions"
 "/home/smokeonline/projects/looset/projects-example/Articulate/src/Articulate.Web/App_Plugins/Articulate/BackOffice/PropertyEditors"
 "/home/smokeonline/projects/looset/projects-example/Articulate/src/Articulate.Web/App_Plugins/Articulate/Lang"
 "/home/smokeonline/projects/looset/projects-example/Articulate/src/Articulate.Web/App_Plugins/Articulate/Themes"
 "/home/smokeonline/projects/looset/projects-example/Articulate/src/Articulate.Web/App_Plugins/Articulate/Themes/Material"
 "/home/smokeonline/projects/looset/projects-example/Articulate/src/Articulate.Web/App_Plugins/Articulate/Themes/Material/Assets"
 "/home/smokeonline/projects/looset/projects-example/Articulate/src/Articulate.Web/App_Plugins/Articulate/Themes/Material/Assets/css"
 "/home/smokeonline/projects/looset/projects-example/Articulate/src/Articulate.Web/App_Plugins/Articulate/Themes/Material/Views"
 "/home/smokeonline/projects/looset/projects-example/Articulate/src/Articulate.Web/App_Plugins/Articulate/Themes/Material/Views/Partials"
 "/home/smokeonline/projects/looset/projects-example/Articulate/src/Articulate.Web/App_Plugins/Articulate/Themes/Mini"
 "/home/smokeonline/projects/looset/projects-example/Articulate/src/Articulate.Web/App_Plugins/Articulate/Themes/Mini/Assets"
 "/home/smokeonline/projects/looset/projects-example/Articulate/src/Articulate.Web/App_Plugins/Articulate/Themes/Mini/Assets/css"
 "/home/smokeonline/projects/looset/projects-example/Articulate/src/Articulate.Web/App_Plugins/Articulate/Themes/Mini/Views"
 "/home/smokeonline/projects/looset/projects-example/Articulate/src/Articulate.Web/App_Plugins/Articulate/Themes/Mini/Views/Partials"
 "/home/smokeonline/projects/looset/projects-example/Articulate/src/Articulate.Web/App_Plugins/Articulate/Themes/Phantom"
 "/home/smokeonline/projects/looset/projects-example/Articulate/src/Articulate.Web/App_Plugins/Articulate/Themes/Phantom/Assets"
 "/home/smokeonline/projects/looset/projects-example/Articulate/src/Articulate.Web/App_Plugins/Articulate/Themes/Phantom/Assets/css"
 "/home/smokeonline/projects/looset/projects-example/Articulate/src/Articulate.Web/App_Plugins/Articulate/Themes/Phantom/Assets/fonts"
 "/home/smokeonline/projects/looset/projects-example/Articulate/src/Articulate.Web/App_Plugins/Articulate/Themes/Phantom/Views"
 "/home/smokeonline/projects/looset/projects-example/Articulate/src/Articulate.Web/App_Plugins/Articulate/Themes/Phantom/Views/Partials"
 "/home/smokeonline/projects/looset/projects-example/Articulate/src/Articulate.Web/App_Plugins/Articulate/Themes/VAPOR"
 "/home/smokeonline/projects/looset/projects-example/Articulate/src/Articulate.Web/App_Plugins/Articulate/Themes/VAPOR/Assets"
 "/home/smokeonline/projects/looset/projects-example/Articulate/src/Articulate.Web/App_Plugins/Articulate/Themes/VAPOR/Assets/css"
 "/home/smokeonline/projects/looset/projects-example/Articulate/src/Articulate.Web/App_Plugins/Articulate/Themes/VAPOR/Assets/fonts"
 "/home/smokeonline/projects/looset/projects-example/Articulate/src/Articulate.Web/App_Plugins/Articulate/Themes/VAPOR/Assets/js"
 "/home/smokeonline/projects/looset/projects-example/Articulate/src/Articulate.Web/App_Plugins/Articulate/Themes/VAPOR/Views"
 "/home/smokeonline/projects/looset/projects-example/Articulate/src/Articulate.Web/App_Plugins/Articulate/Themes/VAPOR/Views/Partials"
 "/home/smokeonline/projects/looset/projects-example/Articulate/src/Articulate.Web/App_Plugins/Articulate/Views"
 "/home/smokeonline/projects/looset/projects-example/Articulate/src/Articulate.Web/config"
 "/home/smokeonline/projects/looset/projects-example/Articulate/src/Articulate.Web/config/BackOfficeTours"
 "/home/smokeonline/projects/looset/projects-example/Articulate/src/Articulate.Web/config/imageprocessor"
 "/home/smokeonline/projects/looset/projects-example/Articulate/src/Articulate.Web/config/Lang"
 "/home/smokeonline/projects/looset/projects-example/Articulate/src/Articulate.Web/config/splashes"
 "/home/smokeonline/projects/looset/projects-example/Articulate/src/Articulate.Web/media"
 "/home/smokeonline/projects/looset/projects-example/Articulate/src/Articulate.Web/media/articulate"
 "/home/smokeonline/projects/looset/projects-example/Articulate/src/Articulate.Web/media/articulate/original"
 "/home/smokeonline/projects/looset/projects-example/Articulate/src/Articulate.Web/Properties"
 ]
